html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(#070147,  #0b0179);
}
@-webkit-keyframes meteor {
  0% {margin-top: -300px; margin-right: -300px; opacity: 1}
  8% {opacity: 0}
  10% {margin-top: 300px; margin-left: -600px; opacity: 0}
  100% {opacity: 0}
}

@-webkit-keyframes star {
  0% {opacity: 0 }
  10% {opacity: .3}
  50%{opacity: .5}
  70% {opacity: .7}
  90% {opacity: .9}
  100%{opacity: 1}
}
.scene1 {
  height: 100%;
  position: relative;
}

.moon {
  position: absolute;
  top: 100px;
  left: 200px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fcfdd8;
  box-shadow: 0 0 100px #fefef0;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stars .star {
  box-shadow: 0 0 10px 2px #fefef0;
  position: absolute;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  background-color: #fcfdd8;
}
.big {
  box-shadow: 0 0 20px 4px #fefef0;
  width: 2px;
  height: 2px;
}

.star:nth-child(1) {top: 100px;left: 685px;}
.star:nth-child(2) {top: 200px;left: 537px;}
.star:nth-child(3) {top: 300px;left: 350px;}
.star:nth-child(4) {top: 400px;left: 320px;}
.star:nth-child(5) {top: 500px;left: 1400px;}
.star:nth-child(6) {top: 600px;left: 483px;}
.star:nth-child(7) {top: 700px;left: 80px;}
.star:nth-child(8) {top: 800px;left: 1020px;}
.star:nth-child(9) {top: 900px;left: 20px;}
.star:nth-child(10) {top: 1000px;left: 780px;}
.star:nth-child(11) {top: 50px;left: 465px;}
.star:nth-child(12) {top: 30px;left: 143px;}
.star:nth-child(13) {top: 180px;left: 285px;}
.star:nth-child(14) {top: 1020px;left: 347px;}
.star:nth-child(15) {top: 89px;left: 298px;}
.star:nth-child(16) {top: 8px;left: 462px;}
.star:nth-child(17) {top: 490px;left: 1045px;}
.star:nth-child(18) {top: 530px;left: 790px;}
.star:nth-child(19) {top: 750px;left: 980px;}
.star:nth-child(20) {top: 108px;left: 33px;}
.star:nth-child(21) {top: 801px;left: 75px;}
.star:nth-child(22) {top: 370px;left: 795px;}
.star:nth-child(23) {top: 160px;left: 384px;}
.star:nth-child(24) {top: 58px;left: 649px;}
.star:nth-child(25) {top: 346px;left: 111px;}
.star:nth-child(26) {top: 270px;left: 1240px;}
.star:nth-child(27) {top: 650px;left: 880px;}
.star:nth-child(28) {top: 758px;left: 598px;}
.star:nth-child(29) {top: 437px;left: 213px;}
.star:nth-child(30) {top: 615px;left: 1072px;}
.star:nth-child(31) {top: 590px;left: 999px;}
.star:nth-child(32) {top: 450px;left: 1100px;}
.star:nth-child(33) {top: 789px;left: 127px;}
.star:nth-child(34) {top: 30px;left: 800px;}
.star:nth-child(35) {top: 130px;left: 750px;}
.star:nth-child(36) {top: 200px;left: 870px;}
.star:nth-child(37) {top: 760px;left: 100px;}
.star:nth-child(38) {top: 78px;left: 1000px;}
.star:nth-child(39) {top: 50px;left: 780px;}
.star:nth-child(40) {top: 430px;left: 350px;}
.star:nth-child(41) {top: 900px;left: 225px;}
.star:nth-child(42) {top: 333px;left: 1024px;}
.star:nth-child(43) {top: 898px;left: 145px;}
.star:nth-child(44) {top: 496px;left: 10px;}
.star:nth-child(45) {top: 530px;left: 400px;}
.star:nth-child(46) {top: 1100px;left: 590px;}
.star:nth-child(47) {top: 1030px;left: 550px;}
.star:nth-child(48) {top: 521px;left: 246px;}
.star:nth-child(49) {top: 228px;left: 148px;}


.meteors {
  position: absolute;
  width: 100%;
  height: 100%;
}

.meteor {
  position: absolute;
  top: 50px;
  left: 280px;
  -webkit-transform: rotate(-45deg);
  background-image: -webkit-linear-gradient(left, #fcfdd8, rgba(255,255,255,0));
}

.short {
  width: 150px;
  height: 2px;
}

.long {
  width: 350px;
  height: 2px;
}


.meteor:before {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 14px 4px white;
  margin-top: -2px;
}

.meteor {top: 100px;left: 480px;-webkit-animation: meteor 10s linear infinite;}
.meteor:nth-child(1) {top: 100px;left: 1300px;-webkit-animation: meteor 10s linear infinite;}
.meteor:nth-child(2) {top: 400px;left: 280px;-webkit-animation: meteor 5s linear infinite;}
.meteor:nth-child(3) {top: 250px;left: 690px;-webkit-animation: meteor 12s linear infinite;}
.meteor:nth-child(4) {top: 50px;left: 1024px;-webkit-animation: meteor 20s linear infinite;}
.meteor:nth-child(5) {top: 550px;left: 900px;-webkit-animation: meteor 22s linear infinite;}

.star {-webkit-animation: star 10s linear infinite;}
.star:nth-child(1) {-webkit-animation: star 5s linear infinite;}
.star:nth-child(3) {-webkit-animation: star 2s linear infinite;}
.star:nth-child(5) {-webkit-animation: star 1s linear infinite;}
.star:nth-child(7) {-webkit-animation: star 3s linear infinite;}
.star:nth-child(9) {-webkit-animation: star 4s linear infinite;}
.star:nth-child(11) {-webkit-animation: star 8s linear infinite;}
.star:nth-child(13) {-webkit-animation: star 4s linear infinite;}
.star:nth-child(15) {-webkit-animation: star 5s linear infinite;}
.star:nth-child(17) {-webkit-animation: star 6s linear infinite;}
.star:nth-child(19) {-webkit-animation: star 2s linear infinite;}
.star:nth-child(21) {-webkit-animation: star 7s linear infinite;}
.star:nth-child(23) {-webkit-animation: star 8s linear infinite;}
.star:nth-child(25) {-webkit-animation: star 3s linear infinite;}
.star:nth-child(27) {-webkit-animation: star 1s linear infinite;}
.star:nth-child(29) {-webkit-animation: star 2s linear infinite;}
.star:nth-child(31) {-webkit-animation: star 8s linear infinite;}
.star:nth-child(33) {-webkit-animation: star 9s linear infinite;}
.star:nth-child(35) {-webkit-animation: star 10s linear infinite;}
.star:nth-child(37) {-webkit-animation: star 3s linear infinite;}
.star:nth-child(39) {-webkit-animation: star 5s linear infinite;}
.star:nth-child(41) {-webkit-animation: star 6s linear infinite;}
